In [1]:
import pandas as pd

df = pd.read_csv('../dataset/nezukokamaado_hr-metrics-and-analytics-repository.csv')

In [2]:
df.shape

(1470, 41)

In [3]:
df.columns

Index(['Attrition', 'Business Travel', 'CF_age band', 'CF_attrition label',
       'Department', 'Education Field', 'emp no', 'Employee Number', 'Gender',
       'Job Role', 'Marital Status', 'Over Time', 'Over18',
       'Training Times Last Year', '-2', '0', 'Age', 'CF_current Employee',
       'Daily Rate', 'Distance From Home', 'Education', 'Employee Count',
       'Environment Satisfaction', 'Hourly Rate', 'Job Involvement',
       'Job Level', 'Job Satisfaction', 'Monthly Income', 'Monthly Rate',
       'Num Companies Worked', 'Percent Salary Hike', 'Performance Rating',
       'Relationship Satisfaction', 'Standard Hours', 'Stock Option Level',
       'Total Working Years', 'Work Life Balance', 'Years At Company',
       'Years In Current Role', 'Years Since Last Promotion',
       'Years With Curr Manager'],
      dtype='object')

In [9]:
# Read column
df[['Education Field', 'Department']][0:5]

  Education Field Department
0   Life Sciences      Sales
1   Life Sciences        R&D
2           Other        R&D
3   Life Sciences        R&D
4         Medical        R&D

In [16]:
# Read rows
df.iloc[4:6]

,Attrition,Business Travel,CF_age band,CF_attrition label,Department,Education Field,emp no,Employee Number,Gender,Job Role,...,Performance Rating,Relationship Satisfaction,Standard Hours,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager
4,No,Travel_Rarely,25 - 34,Current Employees,R&D,Medical,STAFF-7,7,Male,Laboratory Technician,...,3,4,80,1,6,3,2,2,2,2
5,No,Travel_Frequently,25 - 34,Current Employees,R&D,Life Sciences,STAFF-8,8,Male,Laboratory Technician,...,3,3,80,0,8,2,7,7,3,6

In [21]:
# Read a specific set of rows and columns
df.iloc[10:12, 4:10]

,Department,Education Field,emp no,Employee Number,Gender,Job Role
10,R&D,Medical,STAFF-14,14,Male,Laboratory Technician
11,R&D,Life Sciences,STAFF-15,15,Female,Laboratory Technician

In [32]:
# Iterate through rows
for index, row in df.iloc[0:2, :].iterrows():
    print(index)
    print(row[['Attrition', 'Department']])
    print('\n')

0
Attrition       Yes
Department    Sales
Name: 0, dtype: object


1
Attrition      No
Department    R&D
Name: 1, dtype: object